# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Env files
.env
.env.*

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db


