## Backend environment variables (Django)
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOST=127.0.0.1

DB_NAME=linkedin_clone
DB_USER=linkedin_user
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=5432


